
  .lg{
    display: flex;
    position: absolute;

  }

  .sm{
    display: none;
    position: absolute;

  }


  @media (max-width: 980px){
    .sm{
      display: none;
      justify-content:flex-end;
      
    }
  
    .lg{
      display: none;
    }
    

  }