.App {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .react-tabs {
    display: flex;
    margin-left: 0;
    width: auto;
    height: auto;
    color: black;
    background-color:#ffffffb0;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0;
    padding: 0;
    color: white;
    background: #000;
    font-weight:bold;
  }
  
  .react-tabs__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
  .react-tabs__tab:hover {
    background-color:#525252c0;
  }

  .react-tabs__tab--selected {
    background: #3c70ac9d;
    border-color: #0c5dff;
    border-left: 10px solid #5675ff;
    color: white;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 90vh;
    text-align: left;
    margin-left: 80px;
    margin-top: 40px;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  .panel-content {
    text-align: center;
    overflow: auto;
    min-width: 100%;
    max-height: 700px;
  }
  
  .lg{
    display: flex;
  }

  .sm{
    display: none;
  }

  @media (max-width: 480px){
    .react-tabs__tab-list{
      min-width: 400px;
      margin: 0;
      padding: 0;
    }
    .sm{
      display: block;
    }
  
    .lg{
      display: none;
    }

    .panel-content {
      text-align: center;
      overflow: auto;
      min-width: 100%;
      max-height: 400px;
      font-size: 12px;
    }

    .react-tabs__tab-panel {
      margin: 75px;

    }
  }